/node_modules
/.env


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
clone/node_modules
clone/.pnp
clone/.pnp.js

# testing
clone/coverage

# production
clone/build

# misc
clone/.DS_Store
clone/.env
clone/.env.local
clone/.env.development.local
clone/.env.test.local
clone/.env.production.local

clone/npm-debug.log*
clone/yarn-debug.log*
clone/yarn-error.log*
