.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  width: 90vw;
  height: 90vh;
  margin-top: -20px;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app__noChatSelected{
  display: grid;
  place-items: center;
  flex: 0.70;
  background-color: #ededed;

}

.app__noChatSelected > img{
  
  object-fit: contain;
  height: 25vh;
  margin-bottom: 40px;
}